/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}

header {
    background-color: #F3875D;
   
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    border: 2px dashed black;
}


.flex {
    display: flex;

}



/* Header */


.flex-navbar{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between; 

    border-bottom: 1px solid black;
}



nav {
    border: 2px dashed black;
}


/* Jumbotron */

.jumbotron {
    background-color: #B4D0E7;

    height: 700px;
}

.h1 {
    background-color: #62f35d93;
    height: 220px;

    border: 2px dashed black;
    margin-top: 70px;
}


.flex > .small-col {
    flex-basis: 40%;
    height: 400px;
    background-color: yellow;
  }
  
  .flex > .large-col {
    flex-basis: 60%;
    height: 450px;
    background-color: dodgerblue;
  }